*{ 
   background-color: rgb(70, 218, 205);
}

input {
    padding: 10px;
    width: 300px;
  }

header {
    text-align: center;
  }

  button {
    background: rgb(84, 173, 84);
    border: 0;
    color: #fff;
    padding: 10px 20px;
  }

  button:hover,
    button:focus {
      background: rgb(16, 71, 16);
      cursor: pointer;
 }

 header .button_next { 
  background: red;
  border: 0;
  color: #fff;
  padding: 10px 20px;
 }

header .button_back { 
  background: red;
  border: 0;
  color: #fff;
  padding: 10px 20px;
}


header #button_clean { 
  background: rgb(39, 39, 92);
  border: 0;
  color: #fff;
  padding: 8px 15px;
}


header #texte_info .h1 { 
  background-color: #fff;
}
