*{ 
   background-color: rgb(202, 226, 122);
}

input {
    padding: 10px;
    width: 300px;
  }

header {
    text-align: center;
  }

  button {
    background: green;
    border: 0;
    color: #fff;
    padding: 10px 20px;
  }

  button:hover,
    button:focus {
      background: darkgreen;
      cursor: pointer;
 }

 header .button_next { 
  background: red;
  border: 0;
  color: #fff;
  padding: 10px 20px;
 }

header .button_back { 
  background: red;
  border: 0;
  color: #fff;
  padding: 10px 20px;
}
